/*****************************************/
/* Proprietà applicate a tutta la pagina */
/* ***************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/********************/
/* Proprietà header */
/********************/
nav {
    background-color: #0084fd;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#navLinks {
    color: white;
}
/******************/
/* Proprietà body */
/******************/
/* Section skills */
/* ************** */
.format {
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
}
.demo{
    padding-bottom: 0px!important;
}
.blueBack {
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
}
.blueText {
    color: #0084fd;
}
.pic{
    width: 100%;
    display: block;
}
.centerText{
    text-align: center;
}
/*****************/
/* Section plans */
/*****************/
.plans {
    background-color: #9792e4;
}
.appDevelopement {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
}
.arrow {
    background-color: #9792e4;
}