/*****************************************/
/* Proprietà applicate a tutta la pagina */
/* ***************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/********************/
/* Proprietà header */
/********************/
nav {
    background-color: #0084fd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#navBtn {
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: 0px;
}
#navLinks {
    color: white;
}
#navLinks2 {
    display: none;
}
/******************/
/* Proprietà body */
/******************/
/* Section skills */
/* ************** */
.format {
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
}
.demo{
    padding-bottom: 0px!important;
}
.blueBack {
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
}
.blueText {
    color: #0084fd;
}
.pic{
    width: 100%;
    display: block;
}
.centerText{
    text-align: center;
}
.sLogo {
    font-size: 50px;
}
.sBtn {
    color: white;
    background-color: #0084fd;
    border-radius: 20px;
    border: 0px;
    padding: 5px 10px;
}
/*****************/
/* Section plans */
/*****************/
.plans {
    background-color: #9792e4;
}
.appDevelopement {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
}
.arrow {
    background-color: #9792e4;
}
/***********************/
/* Section testimonial */
/***********************/
.user {
    background-color: #9792e4;
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto;
}
.whiteText {
    color: white;
}
.profile {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
}
/********************/
/* Section benefits */
/********************/
.benefits {
    background-color: #9792e4;
}
.benefit {
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
}
.benefit1 {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
}
.vText {
    color: #9792e4;
}
.bBtn {
    color: white;
    background-color: #9792e4;
    padding: 5px 30px;
    border: 0px;
    border-radius: 20px;
}
/*******************/
/* Section aboutUs */
/*******************/
.aboutUs {
    padding: 20px;
}
.ab1 {
    width: 80%;
}
.ab2 {
    width: 20%;
}
/**********************/
/* Section getStarted */
/**********************/
.getStarted{
    background-color: #9792e4;
    padding: 40px;
    color: white;
}
h1 {
    color: orange;
}
.dot {
    font-size: 5px;
    text-align: top;
}
.gBtn {
    color: #9792e4;
    background-color: white;
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
}
/********************/
/* Proprietà footer */
/********************/
.infoBox {
    background-color: black;
    color: white;
    padding: 40px;
}
/***************/
/* Media query */
/***************/
/* Tablet */
/**********/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .skilz {
        display: flex;
        flex-wrap: wrap;
    }
    .skilz > div {
        width: calc(100% / 3 - 15px);
        margin: 5px;
    }
    .demo {
        width: calc(100% / 3 * 2 - 20px)!important;
    }
    .user {
         display: flex;
    }
    .benefit {
        display: flex;
        flex-wrap: wrap;
    }
    .benefit1 {
        width: calc(100% / 2 - 10px);
        margin: 5px;
    }
    .aboutUs {
        display: flex;
    }
}
/***********/
/* Desktop */
/***********/
@media screen and (min-width: 769px) {
    nav {
        width: 100%;
        padding-left: 21%;
        padding-right: 21%;
    }
    .skills {
        width: calc(100% / 3 * 2);
        margin: 0 auto;
    }
    .skilz {
        display: flex;
        flex-wrap: wrap;
        width: calc(100 / 3 * 2);
        margin: 0 auto;
    }
    .skilz > div {
        width: calc(100% / 3 - 15px);
        margin: 5px;
    }
    .demo {
        width: calc(100% / 3 * 2 - 20px)!important;
        display: flex;
    }
    .screenshot {
        display: flex;
    }
    .planz {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .planz > div {
        width: calc(100% / 4);
        margin: 0;
    }
    .testimonial {
        width: calc(100% / 3 * 2 - 40px);
        margin: 0 auto;
    }
    .user {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }
    .us1 {
        width: 30%;
    }
    .us2 {
        width: 60%;
    }
    .benefit {
        width: calc(100% / 3 * 2 );
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefit1 {
        width: calc(90% / 3 - 20px);
        margin: 5px;
    }
    .aboutUs {
        width: calc(100% / 3);
        display: flex;
        margin: 0 auto;
    }
    :first-child .aboutUs {
        width: calc(100% / 3 * 2);
    }
    .getStarted {
        display: flex;
        justify-content: center;
    }
    .getStarted > div {
        width: calc(100% / 2);
    }
    .infoBox {
        display: flex;
        justify-content: center;
    }
    .info {
        width: calc(100% / 2);
    }
    #navLinks {
        display: none;
    }
    #navLinks2 {
        display: flex;
    }
    #navLinks2 > a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
}